body {
  font-family: 'Open Sans';
  min-width: 360px;
  overflow-x: auto;
}

button,
input,
button:active,
input:active,
input:focus,
button:focus {
  border: none;
  outline: none;
}

li {
  list-style: none;
}
